# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
testing/

# Node
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/